// Abtracts
@import "abstracts/variables";
@import "abstracts/mixins";
@import "abstracts/placeholders";

// Base
@import "base/reset";
@import "base/global";

// Components
@import "components/buttons";
@import "components/header";
@import "components/hero";
@import "components/sobre-mi";
@import "components/skills";
@import "components/proyectos";
@import "components/contacto";
@import "components/footer";
@import "components/proyecto-detalle";
