.footer {
  background-color: $color-background-dark;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 0.9rem;
    color: $color-text-muted;
  }

  .social-links a {
    color: $color-primary;
    text-decoration: none;
    margin: 0 0.5rem;
    @include transition(color .3s);

    &:hover {
      color: $color-primary-hover;
    }
  }
}
