// Mixins útiles

@mixin transition($props...) {
  transition: $props;
}

@mixin button-base {
  padding: 8px 15px;
  border-radius: 5px;
  text-decoration: none;
  @include transition(background-color .3s, color .3s);
}

@mixin responsive-padding($padding-mobile) {
  @media (max-width: 768px) {
    padding: $padding-mobile;
  }
}
