// Variables globales

$color-primary: #ff6f61;
$color-primary-hover: #ff3f31;
$color-secondary: #ff9966;
$color-background-light: #f2f2f2;
$color-background-dark: #222222;
$color-text-dark: #333333;
$color-text-light: #ffffff;
$color-text-muted: #555555;
$color-accent: #ff3f31;
